/* You can add global styles to this file, and also import other style files */

.comt{
  margin-top: 20px;
  margin-bottom: 20px;
}


.loadingPr{
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
}
